:root {
  /* COLOR */
  /* PRIMARY */
  --clr-primary: 215 51% 70%;
  --clr-accent: 178 100% 50%;
  /* NEUTRAL */
  --clr-bg: 217 54% 11%;
  --clr-card-bg: 216 50% 16%;
  --clr-line: 215 32% 27%;
  --clr-white: 0 0% 100%;

  /* FONT FAMILY */
  --ff-outfit: "Outfit", sans-serif;

  /* FONT WEIGHT */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: hsl(var(--clr-bg));
  color: hsl(var(--clr-primary));
  font-family: var(--ff-outfit);
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

img {
  display: block;
  max-width: 100%;
}
