:root {
  /* COLOR */
  /* PRIMARY */
  --clr-primary: 215 51% 70%;
  --clr-accent: 178 100% 50%;
  /* NEUTRAL */
  --clr-bg: 217 54% 11%;
  --clr-card-bg: 216 50% 16%;
  --clr-line: 215 32% 27%;
  --clr-white: 0 0% 100%;

  /* FONT FAMILY */
  --ff-outfit: "Outfit", sans-serif;

  /* FONT WEIGHT */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: hsl(var(--clr-bg));
  color: hsl(var(--clr-primary));
  font-family: var(--ff-outfit);
  font-weight: var(--fw-regular);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

img {
  display: block;
  max-width: 100%;
}

hr {
  height: 1px;
  background: hsl(var(--clr-line));
  border: none;
  margin-block: 1rem;
}

/* UTILITIES */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* CARD */

.card {
  max-width: 21.875rem;
  padding: 1.5rem 1.5rem 2rem;
  border-radius: 1rem;
  background: hsl(var(--clr-card-bg));
  box-shadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.2);
}

/* CARD HEADER */

.card__header .img-wrapper {
  --_overlay-display: var(--overlay-display, none);

  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.card__header .img-wrapper:is(:hover, :focus-within) {
  --overlay-display: block;
}

.card__header .img-wrapper::before,
.card__header .img-wrapper::after {
  content: "";
  display: var(--_overlay-display);
  position: absolute;
  cursor: pointer;
}

.card__header .img-wrapper::before {
  inset: 0;
  background: hsl(var(--clr-accent) / 50%);
}

.card__header .img-wrapper::after {
  background: url(./images/icon-view.svg) no-repeat center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* CARD BODY */

.card__body {
  margin-top: 1.5rem;
}

.card__title {
  font-weight: var(--fw-semi-bold);
  font-size: 1.375rem;
  color: hsl(var(--clr-white));
  transition: 200ms;
}

.card__title a:is(:hover, :focus-visible) {
  color: hsl(var(--clr-accent));
}

.card__description {
  font-weight: var(--fw-light);
  line-height: 1.45;
  margin-block: 0.75rem 0.9375rem;
}

.flex-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__pricing,
.card__deadline {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
}

.card__pricing {
  font-weight: var(--fw-semi-bold);
  color: hsl(var(--clr-accent));
}

.card__credit {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.9375rem;
}

.avatar {
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid hsl(var(--clr-white));
}

.card__creator-name {
  color: hsl(var(--clr-white));
}

.card__creator-name:is(:hover, :focus-visible) {
  color: hsl(var(--clr-accent));
}

/* CARD FOOTER */

@media (min-width: 40rem) {
  hr {
    margin-top: 1.5rem;
  }

  .card__description {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-block: 1rem 1.5rem;
  }

  .card__pricing,
  .card__deadline {
    gap: 0.375rem;
  }

  .card__credit {
    font-size: 1rem;
  }
}
